&${CONTEXT}
&ИзменениеИКонтроль("${METHOD}")
${KEYWORD_BEGIN} ${PROC_NAME}()
	// --- Тело оригинального метода из базовой конфигурации ---
	// В точках изменения расставьте маркеры #Вставка / #КонецВставки.
${BODY}${RETURN_LINE}
${KEYWORD_END}
